.odd-elements{
    background-color: #FFB09C;
    font-family: "Verdana", "DejaVu Sans", sans-serif;

}

#second-element{
    color: #003ffc;
    font-size: 36px;
}

.third-element, #fourth-element{
    font-size: 24px; 
}

#fourth-element{
    background-color: #14ff92;
    font-weight: bold;
}