.first, .second{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.first{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 1)
}

.second{
    background-color: hsl(55, 100%, 50%);
}